!!!
%html
%head
  %title VisualizationFactory

  = stylesheet_link_tag    'application', :media => "all" 
  = javascript_include_tag 'application' 
  = csrf_meta_tags

%body

  %script
    App.set("App:Courses", new App.Collections.Courses(
    = raw Course.all.to_json
    ));
    App.set("App:Categories", new App.Collections.Categories(
    = raw Category.all.to_json
    ));
    App.set("App:Outcomes", new App.Collections.Outcomes(
    = raw Outcome.all.to_json
    ));
    App.set("App:ScheduledCourses", new App.Collections.ScheduledCourses(
    = raw ScheduledCourse.all.to_json
    ));
    App.set("App:Scores", new App.Collections.Scores(
    = raw Score.all.to_json
    ));

  = yield

